<style>
    body{
      font-family: 'Times New Roman';
    }
    </style>
    <h1>Actor Table Data: </h1>
        <nav role="navigation">
            <li><a href="home">Home</a></li>
        </nav>
    <table border="1">
        <tr>
            <th>Actor ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Last Updated</th>
        </tr>
    {% for actor in actors %}   
        <tr>
            <td>{{ actor.actor_id }}</td>
            <td>{{ actor.first_name }}</td>
            <td>{{ actor.last_name }}</td>
            <td>{{ actor.last_update }}</td>
        </tr>
    {% endfor %}
    </table>